[Unit]
Description=HomePi HTTP Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=qkauia
WorkingDirectory=/home/qkauia/pi_agent
EnvironmentFile=/home/qkauia/pi_agent/.env
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/qkauia/pi_agent/http_agent.py

Restart=always
RestartSec=3
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target