<div class="row carousel-container">
  <div class="col p-0">
    <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" id="cf">
      <div class="carousel-inner">
        <div class="carousel-item active" id="p1"></div>
        <div class="carousel-item" id="p2"></div>
        <div class="carousel-item" id="p3"></div>
      </div>

      <!-- 可選：左右切換控制 -->
      <button class="carousel-control-prev" type="button" data-bs-target="#cf" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">上一張</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#cf" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">下一張</span>
      </button>
    </div>
  </div>
</div>
