.env
# 所有 .pyc 檔案
*.pyc
# 所有 __pycache__ 目錄（內含 .pyc 檔）
__pycache__/
#  資料檔
db.sqlite3
#  註冊連結生成的QR CODE
static/qrcodes/
#  待整理文件目錄
/待整理文件/
# vscode設定檔
.vscode/settings.json
# 影片片段生成忽略
stream/*.ts
stream/*.m3u8
pi_agent/說明文件/systemd檔案/homepi-hls-off.service
.gitignore
pi_agent/說明文件/systemd檔案/homepi-hls-off.timer
pi_agent/說明文件/systemd檔案/homepi-hls-http@.service
.cursor/rules/01.mdc
pi_agent/install.sh
.gitignore
pi_agent/stream/*.m3u8
pi_agent/stream/*.ts
pi_agent/stream/*.h264
專案資料結構文件.md
電子鎖功能說明.md
Note_qkauia.md
Note_qkauia.md
pi_agent/test.h264
